body {
  font-family: "Varela Round", sans-serif;
}
.food-container {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e0e0e0;
}

.menu-header-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 2px;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
}
.menu-header-container > h1 {
  color: white;
}
.newBtn {
  position: absolute;
  right: 30px;
  background: none;
}

.newBtn:active:focus {
  background: none;
  background-image: linear-gradient(to left, #ff9966, #ff5e62);
}
.newBtn:focus {
  outline: none;
}
.drinks-container {
  padding-top: 20px;
}
